:root {
  --black-white: black;
  --background: white;
  --background-header: black;
  --background-popup: #ffffffe6;
  --text-color: #333;
  --line: #dbdbdb;
  --line-checkbox: #e6e6e6;
  --line-input-checkbox: #dedede;
  --background-search: var(--background);
  --invert: invert(0%);
  --animation-back-color: 255;
  --border-close: transparent;
  --orange: orangered;
  --animation-margin: 1100px;
  --animation-item-width: 234px;
  --animation-item-height: 378px;
}

@media (prefers-color-scheme: dark), .dark-theme {
  :root {
    --black-white: white;
    --background: #121212;
    --background-header: var(--background);
    --background-popup: #121212e6;
    --text-color: white;
    --line: #333;
    --line-checkbox: #3e3e3e;
    --background-search: #3b3b3b;
    --invert: invert(100%);
    --animation-back-color: 0;
    --border-close: #333;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
svg {
  display: block;
  pointer-events: none;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: var(--text-color);
  font-family: "Univers LT Std 63 Bold Extended", sans-serif;
  background-color: var(--background);
}

.scroll-lock {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.header {
  color: white;
  background-color: var(--background-header);
  block-size: 150vh;
}

.animation_wrapper {
  position: sticky;
  top: 0;
  overflow: hidden;
  block-size: 970px;
}

.animation_list {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  opacity: 0;
  transform-style: preserve-3d;
  will-change: transform;
}

.animation_item {
  position: absolute;
  top: calc(var(--animation-item-height) / -2);
  left: calc(var(--animation-item-width) / -2);
  display: grid;
  grid-template-columns: var(--animation-item-width);
  grid-template-rows: var(--animation-item-height);
}

.animation_item img {
  object-fit: contain;
  object-position: center;
  opacity: 0;
  inline-size: 100%;
  aspect-ratio: 0.8/1;
}

.animation_title {
  position: absolute;
  top: 575px;
  left: 50%;
  padding-inline: 1.5rem;
  text-align: center;
  transform: translate(-50%);
  inline-size: 100%;
  max-inline-size: 800px;
}

.animation_title h1 {
  margin-block-end: 0.5rem;
  font-family: Bodytextlarge, sans-serif;
  font-size: 64px;
  line-height: 1;
  text-transform: uppercase;
}

.animation_title h1 span {
  display: block;
  font-family: span, serif;
  font-weight: 400;
  font-size: 48px;
  letter-spacing: -2px;
}

.animation_title p {
  margin-block-end: 10px;
}

.animation_title img {
  margin: 1rem auto 0;
  inline-size: 24px;
}

.main {
  position: ralative;
  margin-top: -8rem;
  margin-block-end: 130px;
}

.navigation {
  position: sticky;
  top: -1px;
  display: flex;
  gap: 2rem;
  padding: 24px;
  inline-size: 100%;
  will-change: transform;
}

.has-border {
  border-block-end: 1px solid var(--line);
  background: var(--background);
}

.home_button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.home_button img {
  inline-size: 96px;
  min-inline-size: 96px;
}

.search-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  inline-size: 100%;
}

.search_wrapper {
  position: relative;
  touch-action: manipulation;
  max-inline-size: 600px;
  inline-size: 100%;
}

.search {
  border: 1px solid var(--orange);
  border-radius: 50px;
  padding: 1rem 2rem 1rem 4rem;
  outline: none;
  font-family: inherit;
  font-size: 16px;
  inline-size: 100%;
  -webkit-touch-callout: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.search_img {
  position: absolute;
  top: 50%;
  left: 24px;
  filter: var(--invert);
  transform: translateY(-50%);
  inline-size: 20px;
  block-size: 20px;
}

.filter {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  cursor: pointer;
}

.filter p {
  white-space: nowrap;
}

.filter_img {
  filter: var(--invert);
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.navigation-popup .popup-content {
  position: relative;
  margin-left: auto;
  border-inline-start: 1px solid var(--line);
  padding: 5rem 1.5rem 0 3rem;
  overflow: auto;
  background-color: var(--background);
  transition: all 0.2s linear;
  transform: translate(0%, 0px);
  max-inline-size: 375px;
  block-size: 100vh;
}

.navigation-popup .close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  border: 1px solid var(--border-close);
  border-radius: 50%;
  filter: var(--invert);
  cursor: pointer;
  block-size: 40px;
  inline-size: 40px;
}

.close img {
  inline-size: 100%;
  block-size: 100%;
}

.checkbox-containers {
  color: var(--black-white);
  font-size: 1rem;
}

.checkbox-containers h2 {
  margin-block-end: 1rem;
  line-height: 1.5;
  text-transform: uppercase;
}

.checkbox-container {
  margin-block-end: 2rem;
  border-block-end: 1px solid var(--line-checkbox);
  padding-block-end: 2rem;
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-block-end: 0.75rem;
  padding-inline-start: 20px;
  line-height: 1.25;
}

.checkbox-label input {
  float: left;
  box-sizing: border-box;
  margin: 4px 0 0 -20px;
  border: 1px solid var(--line-input-checkbox);
  border-radius: 3px;
  padding: 0;
  inline-size: 18px;
  min-inline-size: 18px;
  block-size: 18px;
  -webkit-appearance: none;
}

.checkbox-label input:checked {
  background-color: #ff4500;
}

.checkbox-label span {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  line-height: 1.25;
  cursor: pointer;
}

.main_container {
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  background-color: var(--background);
}

.main_wrapper {
  margin: 0 auto;
  padding: 4rem 3.75rem 0;
  max-inline-size: 1440px;
}

.covers_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.covers_item {
  display: flex;
  flex-direction: column;
  margin-inline: 1%;
  margin-block-end: 1.5rem;
  cursor: pointer;
  inline-size: 23%;
}

.cover_img {
  width: 100%;
  object-fit: contain;
  object-position: center;
  opacity: 0;
  aspect-ratio: 0.8/1;
}

.cover_information {
  padding: 1rem;
  font-size: 12px;
  line-height: 1.5;
}

.cover_number {
  color: var(--orange);
}

.cover_title {
  font-size: 14px;
}

.empty-message {
  display: none;
  padding: 6rem 0 4rem;
  text-align: center;
}

.empty-message img {
  margin: 0 auto 0.5rem;
}

.empty-message p {
  margin-block-end: 10px;
  font-size: 1rem;
  line-height: 1.5;
}

.gallery-popup .popup-content {
  position: relative;
  overflow: auto;
  background: var(--background);
  inline-size: 100%;
  block-size: 100%;
}

.gallery-popup .close {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  padding: 2rem;
  color: var(--black-white);
  font-family: europa, sans-serif;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.return-visible {
  opacity: 0.25;
}

.return-visible:hover {
  opacity: 1;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1vw;
  padding-block-end: 20px;
}

.popup-header {
  display: flex;
  flex-direction: column;
  grid-column: 1 / 3;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-inline: 1.5rem;
  color: var(--black-white);
  font-family: span, serif;
  text-align: center;
  pointer-events: none;
}

.popup-header h2 {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.25;
}

.popup-header h1 {
  margin-block: 10px;
  font-family: "Scheherazade New", serif;
  font-size: 60px;
  line-height: 1;
  text-transform: uppercase;
}

.gallery img {
  opacity: 0;
}

.gallery div:nth-child(n + 3) img {
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

.main_cover {
  position: relative;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  overflow: hidden;
  inline-size: 100%;
  block-size: 100vh;
}

.main_cover_img {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  object-fit: cover;
  transform: translate(-50%, -50%);
  inline-size: auto;
  block-size: 100%;
}

.blur_img {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  object-fit: cover;
  object-position: center;
  filter: blur(5px) brightness(120%);
  transform: translate(-50%, -50%);
  inline-size: 104%;
  block-size: 104%;
}

.horizontal_photo {
  grid-column: 1 / 3;
}

.odd_photo {
  grid-column: 1 / 3;
  margin: 0 auto;
  inline-size: 50%;
}

.slide-popup {
  background-color: var(--background-popup);
  backdrop-filter: blur(2px);
}

.slide-popup .popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%, -50%);
  inline-size: 100%;
  block-size: 100%;
  max-block-size: 75vh;
}

.slide_wrapper {
  display: flex;
  align-items: stretch;
  transition: transform 0.5s ease;
  block-size: 100%;
  inline-size: 100%;
}

.slide-popup .slide {
  position: relative;
  flex-shrink: 0;
  block-size: 100%;
  inline-size: 100%;
}

.slide_img {
  margin: 0 auto;
  object-fit: contain;
  object-position: center;
  opacity: 0;
  inline-size: auto;
  max-inline-size: 100%;
  block-size: 100%;
}

.controls_button {
  position: absolute;
  top: 50%;
  z-index: 1000;
  transform: translate(0, -50%);
  cursor: pointer;
}

.controls_button::before {
  color: var(--black-white);
  font-family: FontAwesome;
  font-size: 40px;
  line-height: 1;
}

.controls_button.disabled {
  opacity: 0;
  cursor: not-allowed;
  pointer-events: none;
}

.slide-popup .close {
  top: 35px;
  right: 35px;
  padding: 10px;
  transform: translate(0);
}

.slide-popup .close::before {
  content: "\f00d";
  font-size: 20px;
}

.prev {
  left: 30px;
}

.prev::before {
  content: "\f104";
}

.next {
  right: 30px;
}

.next::before {
  content: "\f105";
}

.footer {
  position: relative;
}

.footer_fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1000;
  inline-size: 100%;
}

.footer_fixed::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  background: url("https://slamonline.com/wp-content/uploads/2025/09/SLAM-covers.jpg")
    center/contain repeat;
  inline-size: 100%;
  block-size: 100%;
}

.footer_img {
  object-fit: contain;
  inline-size: 100%;
  block-size: auto;
}

.footer_main {
  border-block-start: 5px solid #fe5000;
  padding: 35px 30px;
  background-color: black;
}

.footer_logo {
  margin: 0 auto;
  inline-size: 33.333%;
  max-inline-size: 300px;
}

@media screen and (max-width: 991px) {
  .covers_item {
    inline-size: 31.3333%;
  }

  .gallery-popup .close {
    padding: 1.5rem;
  }

  .footer_logo {
    inline-size: 100%;
  }
}

@media screen and (max-width: 767px) {
  :root {
    --animation-margin: 1050px;
  }

  .header {
    block-size: auto;
  }

  .animation_title {
    top: 525px;
  }

  .navigation {
    gap: 1rem;
    padding: 16px 24px;
  }

  .home_button img {
    inline-size: 82px;
    min-inline-size: 82px;
  }

  .search-filter {
    gap: 0;
  }

  .search_wrapper {
    max-inline-size: 250px;
  }

  .search {
    padding: 0.75rem 1rem 0.75rem 3rem;
    font-size: 14px;
  }

  .search_img {
    inline-size: 14px;
    block-size: 14px;
  }

  .filter p {
    display: none;
  }

  .filter_img {
    padding: 1rem;
  }

  .navigation-popup .popup-content {
    padding: 9rem 1.5rem 0;
    max-inline-size: 100%;
    inline-size: 100%;
  }

  .navigation-popup .close {
    top: 5.5rem;
  }

  .main {
    margin-block-end: 90px;
  }

  .main_wrapper {
    padding: calc(4rem - 2vw) 1.5rem 0;
  }

  .covers_item {
    inline-size: 48%;
  }

  .gallery-popup .close {
    padding: 1.5rem 0.75rem;
  }

  .popup-header h2 {
    font-weight: 500;
    font-size: 28px;
  }

  .popup-header h1 {
    padding-block-start: 8px;
  }

  .main_cover_img {
    inline-size: 100%;
    block-size: auto;
  }

  .odd_photo {
    inline-size: 100%;
  }

  .slide-popup {
    background-color: var(--background);
  }

  .slide-popup .popup-content {
    display: flex;
    align-items: center;
    max-block-size: 100%;
    block-size: auto;
  }

  .slide_wrapper {
    align-items: center;
    gap: 20px;
    block-size: auto;
  }

  .slide-popup .slide {
    display: flex;
    align-items: center;
  }

  .slide_img {
    inline-size: 100%;
    block-size: auto;
  }

  .slide-popup .close {
    top: 10px;
    right: 10px;
    padding: 20px;
  }

  .prev {
    display: none;
  }

  .next {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .animation_wrapper {
    block-size: 920px;
  }

  .animation_title {
    top: 500px;
  }

  .animation_title h1 {
    font-size: 40px;
  }

  .animation_title h1 span {
    font-size: 30px;
  }

  .checkbox-containers {
    font-size: 14px;
  }

  .popup-header {
    padding-inline: 0.5rem;
  }

  .popup-header h2 {
    font-size: 25px;
  }

  .popup-header h1 {
    padding-block-end: 8px;
    font-size: 40px;
  }
}
